/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 30px;
    background: var(--success);
    color: white;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 8px;
    font-weight: bold;
    transition: .3s;
}

.btn:hover {
    opacity: .9;
}

/* PRICE BOX */
.price-box {
    background: var(--card);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.price {
    font-size: 2.5rem;
    color: var(--secondary);
    font-weight: bold;
}

/* CARD */
.card {
    background: var(--card);
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.card h3 {
    color: var(--primary);
    margin-bottom: 15px;
}

body.dark-mode .card h3 {
    color: #60a5fa;
}
.card ul {
    padding-left: 20px;
}

.card li {
    margin-bottom: 8px;
}

/* CONTACT */
.contact {
    background: var(--card);
    max-width: 700px;
    margin: auto;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.contact p {
    margin: 15px 0;
}

/* GALLERY */
.gallery-image {
    max-width: 350px;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    cursor: pointer;
    transition: transform .2s;
}

.gallery-image:hover {
    transform: scale(1.03);
}

/* SOCIAL */
.social-links {
    margin: 20px 0;
}

.social-icon {
    width: 48px;
    height: 48px;
    margin: 0 10px;
    transition: transform .2s;
}

.social-icon:hover {
    transform: scale(1.1);
}

/* COPYRIGHT */
.copyright {
    margin-top: 20px;
    font-size: .9rem;
    opacity: .8;
}
.skill-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill {
    background: var(--primary);
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
}
.skill-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* LIGHTBOX */
.lightbox {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.lightbox.active {
    display: flex;
}
